<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <p>
            <form action="/api/authenticate" method="post">
                <label for="username">아이디</label>
                <input type="text" id="username" name="username" placeholder="아이디를 입력하세요">
                <label for="password">패스워드</label>
                <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요">
                <button type="submit">로그인</button>
            </form>
            <br>

            <a href="/members/new">회원 가입</a>
            <a href="/members">회원 목록</a>

        <form action="/members/findone" method="get">
            <label for="id">아이디</label>
            <input type="text" id="id" name="id" placeholder="아이디를 입력하세요">
            <button type="submit">검색</button>
        </form>
        </p> </div>
</div> <!-- /container -->
    <hr color="red">
<div>
            <a href="/files/fileMain">파일 업로드</a>
    </div>
    <div>
        <br>
        <a href="/files/fileView">파일 다운로드</a>
    </div>
<hr color="red">

<div>
    <a href="board/v1/findAll">게시판 전체 리스트</a> <br>

    <form action="/board/v1/retrieveOne" method="get">
        <label for="boardId">아이디</label>
        <input type="text" id="boardId" name="boardId" placeholder="게시물번호를 입력하세요">
        <button type="submit">검색</button>
    </form>
</div>

<div>
    <hr color="red">
<!--    <a href="/excel/v1/member">유저 엑셀 파일 다운로드</a>-->
    <a href="http://localhost:8080/excel/v1/member?downStatus=true">유저 엑셀 파일 다운로드</a>

<!--    <form action="/excel/v1/member?downStatus=true">-->
<!--        -->
<!--    </form>-->

</div>

<!-- qr code 인식 -->
<hr color="red">
<div>
    <h3>내 티스토리 블로그 QR Code!</h3>
    <a href="/qr/tistory">QR to Tistory!!</a>
</div>

</body>
</html>