<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <p>
            <a href="/members/new">회원 가입</a>
            <a href="/members">회원 목록</a>

        <form action="/members/findone" method="get">
            <label for="id">아이디</label>
            <input type="text" id="id" name="id" placeholder="아이디를 입력하세요">
            <button type="submit">검색</button>
        </form>
        </p> </div>
</div> <!-- /container -->
    <div>
        <br>
            <a href="/files/fileMain">파일 업로드</a>
    </div>
    <div>
        <br>
        <a href="/files/fileView">파일 다운로드</a>
    </div>

</body>
</html>